<section>
    <div class="relative mx-auto max-w-screen-xl px-4 py-8">
        <div *ngIf="product" class="grid grid-cols-1 items-start gap-8 md:grid-cols-2">
            <div class="grid grid-cols-2 gap-4 md:grid-cols-1">
                <img alt="Les Paul" [src]="product.images" class="aspect-square w-full rounded-xl object-cover" />

                <!-- <div class="grid grid-cols-2 gap-4 lg:mt-4">
                    <img alt="Les Paul"
                        src="https://images.unsplash.com/photo-1456948927036-ad533e53865c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80"
                        class="aspect-square w-full rounded-xl object-cover" />

                    <img alt="Les Paul"
                        src="https://images.unsplash.com/photo-1456948927036-ad533e53865c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80"
                        class="aspect-square w-full rounded-xl object-cover" />

                    <img alt="Les Paul"
                        src="https://images.unsplash.com/photo-1456948927036-ad533e53865c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80"
                        class="aspect-square w-full rounded-xl object-cover" />

                    <img alt="Les Paul"
                        src="https://images.unsplash.com/photo-1456948927036-ad533e53865c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80"
                        class="aspect-square w-full rounded-xl object-cover" />
                </div> -->
            </div>

            <div class="sticky top-0">


                <div class="mt-8 flex justify-between">
                    <div class="max-w-[35ch] space-y-2">
                        <h1 class="text-xl font-bold sm:text-2xl">
                            {{product.name}}
                        </h1>

                    </div>

                    <p class="text-lg font-bold">${{product.price}}</p>
                </div>

                <div class="mt-4">
                    <div class="prose max-w-none">
                        <p>
                            <textarea class="border-none hover:rounded" name="" id="" cols="40"
                                rows="5"> {{product.description}}</textarea>

                        </p>
                    </div>

                    <!-- <button class="mt-2 text-sm font-medium underline">Read More</button> -->
                </div>

                <form class="mt-8">
                    <fieldset>
                        <legend class="mb-1 text-sm font-medium">Color</legend>

                        <div class="flex flex-wrap gap-1">
                            <label for="color_tt" class="cursor-pointer">
                                <input type="radio" name="color" id="color_tt" class="peer sr-only" />

                                <span
                                    class="group inline-block rounded-full border px-3 py-1 text-xs font-medium peer-checked:bg-black peer-checked:text-white">
                                    {{product.color}}
                                </span>
                            </label>




                        </div>
                    </fieldset>

                    <fieldset class="mt-4">
                        <legend class="mb-1 text-sm font-medium">Size</legend>

                        <div class="flex flex-wrap gap-1">
                            <label for="size_m" class="cursor-pointer">
                                <input type="radio" name="size" id="size_m" class="peer sr-only" />

                                <span
                                    class="group inline-flex h-8 w-8 items-center justify-center rounded-full border text-xs font-medium peer-checked:bg-black peer-checked:text-white">
                                    {{product.size}}
                                </span>
                            </label>
                        </div>
                    </fieldset>

                    <div class="mt-8 flex gap-4">
                        <div>
                            <legend class="mb-1 text-sm font-medium">Quanlity</legend>

                            <span
                                class="group inline-flex h-8 w-8 items-center justify-center rounded-full border text-xs font-medium peer-checked:bg-black peer-checked:text-white">
                                {{product.count}}
                            </span>
                        </div>


                    </div>
                </form>
            </div>
        </div>
    </div>
</section>