<div class="relative overflow-x-auto shadow-md sm:rounded-lg">

    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    <span class="sr-only">Image</span>
                </th>
                <th scope="col" class="px-6 py-3">
                    Product
                </th>
                <th scope="col" class="px-6 py-3">
                    Qty
                </th>
                <th scope="col" class="px-6 py-3">
                    Price
                </th>
                <th scope="col" class="px-6 py-3">
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of test.reverse() | paginate: { itemsPerPage: 10, currentPage: page } ; index as i"
                class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                <td class="w-32 p-4">
                    <img [src]="item.images" alt="image...">
                </td>
                <td class="px-6 py-4 font-semibold text-gray-900 dark:text-white">
                    {{item.name}}
                </td>
                <td class="px-6 py-4">
                    {{item.count}}
                </td>
                <td class="px-6 py-4 font-semibold text-gray-900 dark:text-white">
                    ${{item.price}}
                </td>
                <td class="px-6 py-4">


                    <a routerLink="/admin/products/{{item.id}}/detail"
                        class="font-medium text-cyan-500 dark:text-red-500 hover:underline ml-4">View</a>
                </td>
            </tr>

        </tbody>

    </table>
    <div class="mt-2">
        <pagination-controls (pageChange)="page = $event"></pagination-controls>
    </div>
</div>